<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
    var luogi = <%=citta%>;
    $("#prova").val("ciao");
    $( function() {
      $( "#tags" ).autocomplete({
        source: luoghi
      });
    });
  </script>
<div class="ui-widget">
<input class="input100" type="text" name="<%=nome%>" placeholder="Città <%=nome%>" id="tags">
</div>
